    html,
    body {
        background: #182440;
        height: 100vh;
        width: 100vw;
        margin: 0;
    }

    canvas {
        background: linear-gradient(to bottom, #050a23, #050a23 60%, #165496);
    }


    .flat {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #417297;
        border-left: none;
        border-right: none;
        height: 100px;
        width: 100px;
    }

    .three-div {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #417297;
        border-left: none;
        border-right: none;
        height: 100px;
        width: 100px;
    }

    #goback {
        position: absolute;
        top: 0px;
        right: 0px;
        color: white;
        background: red;
        padding: 10px;
    }

    #flat01 {
        display: none;
    }


    .insertIframe {
        position: absolute;
        z-index: -1;
        opacity: 0;
        top: 50%;
        height: 89%;
        width: 90%;
        background: white;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 1s ease;
    }

    .show{
        opacity: 1;
        z-index: 1000;
    }


